$vert1: #76C7C1;
$vert2: #62b9b0;
$rouge1:#e9645b;
$rouge2:#e2534b;
$blanc: #ffffff;
$grisFonce: #333333;
$police:"Open Sans",sans-serif;

body{
    background-color:rgb(245,245,245);
    color: $grisFonce;
    padding: 0px;
    margin: 0px;
    font-family: $police;
   
}

h1,h2,h3,h4{
    font-family: $police;
}

.menubar {
    background-color: $vert1;
    
    
    
    li a {
        line-height: 50px;
        color: $blanc !important;
       
    }
    
    .navbar-brand p{
        line-height: 20px;
        color: $blanc !important;
        font-size: 36px
    }
    .navbar-nav {
        
    }
};


.banner{
   margin-top: -21px;
    background-size: cover;
    background-repeat: no-repeat;
    
};

.slidetitle{
    position: absolute;
    color:$blanc ;
    bottom: 380px;
    left:250px;
    min-height: 10px;
    width: 260px;
    background-color:red;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;


    
    
     p{
      font-weight: bold;
        
         
    }
};

.slidetext{
    position: absolute;
    bottom: 300px;
    left: 170px;
    border-radius: 5px;
    height: 70px;
    color: $blanc ;
    background-color: black;
    opacity: 0.8;
    width: 400px;
    
    p{
        text-align: center;
        width: 300px;
        margin-left: 50px;
        
    }
};

.container-view{
        
    height: 120px;
    margin-top: 50px;
    
    .view{
        position: absolute;
        bottom: 200px;
        
        .button-view {
            position: absolute;
            bottom: 40px;
            right: -150px;
            background-color: red;
            
        }
    }
}

.my-panels{
    text-align: center;
    
    h4{
        font-weight: bold;
    }
    
    
    .button-panel{
        position: absolute;
        right: 90px;
        bottom: 0px
    }
}




.section2{
    background-image: url(../images/bg-parallax.jpg);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 40px;
    
    .second-image{
        min-height: 300px;
        position: absolute;
        bottom: -1120px;
        left: 90px;
        width: 100px;
        
    }
}


.section3{
    margin-top: 180px;
}

.section4{
    background-color:$vert1 ;
    color: $blanc;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 45px;
    height: 300px;
    overflow-x:hidden;
    
    .s4h4{
        font-weight: bold;
        font-size: 24px;
    }
    .h4color{
        color:$grisFonce;
    }
}



.footer{
    height: 50px;
    background-color: $vert2;
    
    p{
        color: $blanc;
        line-height: 50px;
    }
}
